@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(13, 140, 13);
}

@font-face {
    font-family: "Montserrat-bold";
    src: url("/src/fonts/Mont/Montserrat-Bold.ttf") format("opentype");
    font-size: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("/src/fonts/Mont/Montserrat-Regular.ttf") format("opentype");
    font-size: normal;
    font-display: swap;
}